/* Este es el estilo del main */
html, body {
    background-color: #bbb;
}

.container{
  display: flex;
}

#display {
  background-color: rgba(55,55,55,.5);
  height: 90vh;
  margin: 0 auto;
  
  border: 3px solid #333;
  border-radius: 4px;
}

#points {
  position: fixed;
  top: 4;
  left: 4;
}